aiohappyeyeballs==2.6.2
aiohttp==3.14.0
aiosignal==1.4.0
attrs==26.1.0
bakong-khqr==0.5.8
beautifulsoup4==4.14.3
certifi==2026.5.20
charset-normalizer==3.4.7
deep-translator==1.11.4
edge-tts==7.2.8
frozenlist==1.8.0
idna==3.18
imageio-ffmpeg==0.6.0
langdetect==1.0.9
multidict==6.7.1
pillow==12.2.0
propcache==0.5.2
qrcode==8.2
requests==2.34.2
six==1.17.0
soupsieve==2.8.4
tabulate==0.10.0
typing_extensions==4.15.0
urllib3==2.7.0
yarl==1.24.2
