requests>=2.32.4
bakong-khqr[image]>=0.4.12
pillow>=11.3.0
python-telegram-bot>=22.3
qrcode>=8.2
telegram>=0.0.1
bakong-khqr[image]>=0.4.12
pillow>=11.3.0
python-telegram-bot>=22.3
qrcode>=8.2
requests>=2.32.4
bakong-khqr[image]
pillow
python-telegram-bot
qrcode
requests
telegram
bakong-khqr[image]
pillow
python-telegram-bot
qrcode
requests
telegram
